quize/content.json
quize/assets/company_logo.png
quize/assets/test1.png
quize/assets/test2.png
quize/assets/test2.png~
quize/assets/test3.png
quize/assets/test4.png
quize/assets/test5.png
__pycache__/question.cpython-39.pyc
Untitled-1.ini
tempCodeRunnerFile.py
